<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.jiao.xy99.user.mapper.UserMapper">
        <resultMap id="BaseResultMap" type="com.jiao.xy99.user.dto.User" >
            <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
            <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
            <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
            <result column="LOGIN_NUM" property="loginNum" jdbcType="DECIMAL" />
            <result column="LAST_IP" property="lastIp" jdbcType="VARCHAR" />
            <result column="LAST_LOGIN_DATE" property="lastLoginDate" jdbcType="TIMESTAMP" />
        </resultMap>

        <select id="getMatchCount" parameterType="java.lang.String" resultType="java.lang.Integer">
            SELECT count(*) FROM sys_user WHERE user_name =#{name,jdbcType=DECIMAL}
            and password = #{password,jdbcType=DECIMAL}
        </select>
        <select id="findUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
            select user_id,user_name,login_num from sys_user where user_name = #{name,jdbcType=DECIMAL}
        </select>
        <update id="updateLoginInfo" parameterType="com.jiao.xy99.user.dto.User">
            update sys_user set last_login_date = #{lastLoginDate,jdbcType=DECIMAL},
            last_ip = #{lastIp,jdbcType=DECIMAL},
            login_num = #{loginNum,jdbcType=DECIMAL}
            where user_id = #{userId,jdbcType=DECIMAL}
        </update>

        <resultMap id="LoginResultMap" type="com.jiao.xy99.user.dto.UserLoginLog" >
            <id column="LOGIN_LOG_ID" property="loginLogId" jdbcType="DECIMAL" />
            <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
            <result column="IP" property="ip" jdbcType="VARCHAR" />
            <result column="LOGIN_TIME" property="loginTime" jdbcType="TIMESTAMP" />
        </resultMap>
        <insert id="insertLoginLog" parameterType="com.jiao.xy99.user.dto.UserLoginLog">
        insert into sys_user_login_log(user_id, ip,login_time) values(
        #{userId,jdbcType=DECIMAL},
        #{ip,jdbcType=VARCHAR},
        #{loginTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="getFuntionMap" resultType="java.lang.String">
SELECT

	srb.URL
FROM
	sys_function_b sfb,
	sys_resource_b srb
WHERE
	sfb.RESOURCE_ID = srb.RESOURCE_ID
    </select>

    <resultMap id="ResourceResultMap" type="com.jiao.xy99.user.dto.Resource" >
        <id column="RESOURCE_ID" property="resourceId" jdbcType="DECIMAL"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="LOGIN_REQUIRE" property="loginRequire" jdbcType="VARCHAR"/>
        <result column="ACCESS_CHECK" property="accessCheck" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="ResourceResultMap" parameterType="java.lang.Long">
        SELECT * from sys_resource_b WHERE RESOURCE_ID =#{resourceId,jdbcType=DECIMAL}
    </select>

    <resultMap id="FunctionResultMap" type="com.jiao.xy99.user.dto.Function">
        <id column="FUNCTION_ID" property="functionId" jdbcType="DECIMAL"/>
        <result column="MODULE_CODE" property="moduleCode" jdbcType="VARCHAR"/>
        <result column="FUNCTION_ICON" property="functionIcon" jdbcType="VARCHAR"/>
        <result column="FUNCTION_CODE" property="functionCode" jdbcType="VARCHAR"/>
        <result column="FUNCTION_NAME" property="functionName" jdbcType="VARCHAR"/>
        <result column="FUNCTION_DESCRIPTION" property="functionDescription" jdbcType="VARCHAR"/>
        <result column="LANG" property="lang" jdbcType="VARCHAR"/>
        <result column="RESOURCE_ID" property="resourceId" jdbcType="DECIMAL"/>
        <result column="PARENT_FUNCTION_ID" property="parentFunctionId" jdbcType="DECIMAL"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="FUNCTION_SEQUENCE" property="functionSequence" jdbcType="DECIMAL"/>
    </resultMap>
    <select id="selectFunctionAll" resultMap="FunctionResultMap">
        SELECT * from sys_function_b
    </select>
    </mapper>
